.Projects{
    height: 80vh;
    text-align: center;
    margin: 3% auto;
    text-align: center;
}

.Projects h1{
    margin: 0 auto;
}

.card{
    width: 450px;
    height: 600px;
    display: inline-flex;
    margin: 3% 1%;
    border-radius: 20px;
}
.one{
    background-color: #FF8AA5;
}
.two{
    background-color: #ABFE58;
}
.three{
    background-color: #84E5FF;
}

.Projects h2{
    display: inline;
}

.push{
    font-size: 30px;
    margin-right: auto;
}

@media only screen  and  (max-width: 600px){
    .card{
        width: 300px;
        height:350px ;
    }
    .Projects h1{
        font-size: 1.5rem;
    }
}
@media only screen  and  (max-width: 1200px) and (min-width: 600px){
    .card{
        width: 250px;
        height: 400px;
    }
}